<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

    <div class="container">

        <div class="row">
            <div id="title">
                <h1>Hospitals App Test</h1>
            </div>

            <table id="hospitals" class="table table-striped">
                <thead>
                    <tr>
                        <th width="30%">Id</th>
                        <th width="40%">Name</th>
                        <th width="30%">Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="result" data-th-each="hospitals : ${hospital}">
                        <td>[[${hospital.id}]]</td>
                        <td>[[${hospital.name}]]</td>
                        <td>[[${hospital.address}]]</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <script data-th-src="@{/js/main.js}"></script>

</body>

</html>